*{
    padding: 0;
    margin: 0;
    Font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}
body{
    padding: 1%;
}                    /****** start main styles ******/
form{
    margin-left: 12px;
}
.textImput{
    
  resize: none;
  height: auto;
  min-height: 200px;
}
.button{
    height: 80px;
    width: 20rem;
    justify-content: center;
}
.textImput,.button,.textOutput{
    margin-left: auto;
    margin-right: auto;
}

#dontFoundMassageImg{

    display: flex ;
}
                     /****** finish main styles ******/





                     /****** start footer styles ******/
.aluraLogo{
    max-width: 50px;
    max-height: 25px;
    align-self: center;
}
.oneLogo{
    max-height: 75px;
    width: auto;
}
.madeBy{
    align-self: center;
}
                       /****** finish footer styles ******/